<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<!-- <h3>{{ site.latestNewsTitle }}</h3> -->
			<article class="row">
        <div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
          <h6>{{ site.aboutEvent.title }}</h6>
          <p class="post-body">
            {{ site.aboutEvent.content }} 
            <!-- <a href="{{ postUrl }}">continue reading</a> -->
          </p>
        </div>
        <div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
          <h6>{{ site.aboutGDG.title }}</h6>
          <p class="post-body">
            {{ site.aboutGDG.content }} 
            <!-- <a href="{{ postUrl }}">continue reading</a> -->
          </p>
        </div>
			</article>
		</div>
	</div>
</section>
<!-- End Latest News Section -->