<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<!-- <h3>{{ site.latestNewsTitle }}</h3> -->
			<article class="row">
				{% for post in site.posts limit:2 %}
                    {% assign postUrl = site.baseurl | append: post.url %} 
					<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>{{ post.title }}</h6>
            <div class="post-body"
              {% capture modulo %}{{ forloop.index0 | mod:2 }}{% endcapture %}
              {% if modulo == '0' or forloop.first %}  
                style="display: inline-block; padding-right: 30px" 
              {% else %}
                style="display: inline-block"
              {% endif %} 
            >
              {{ post.content }} 
              <!-- <a href="{{ postUrl }}">continue reading</a> -->
            </div>
					</div>
        {% endfor %}
			</article>
		</div>
	</div>
</section>
<!-- End Latest News Section -->